/* Foundation v2.1 http://foundation.zurb.com */
/* Artfully masterminded by ZURB  */

/* --------------------------------------------------
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */
div.footer {
  border-top: 1px solid #eeeeee;
  margin: 20px 0 0 0;
  padding: 20px 0;
}




/* -----------------------------------------
   Page Name 1
----------------------------------------- */
div.facebook_widget {
    margin: 0 0 15px 0;
}

div#gallery embed {
    height: 525px;
}



/* -----------------------------------------
   Page Name 2
----------------------------------------- */


